<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<a class="navbar-brand" data-ui-sref="app.users">ReBoard</a>

		<p class="navbar-text">
		</p>
		<ul class="nav navbar-nav navbar-right">
	        <li>
				<a state-refresh></a>
	        </li>
	          <li>
				<form class="navbar-form " role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Filter" data-ng-model="App.filter">
					</div>
				</form>        	
	        </li>
		</ul>
	</div>
</nav>

<div class="content" data-ui-view></div>
