.body {
	background-color: @backgroundColor;
}

.logo {
	display: inline-block;
	color: @lightGrey;
	background: @darkGrey;
}

.logo .glyphicon {
	width: 24px;
	font-size: 24px;
	vertical-align: middle;
}

.content {
	margin-top: 74px;
}

.roundtangle {
	display: inline-block;
	padding: 5px;
	margin-right: 10px;
	color: @lightGrey;
	text-align: center;
	vertical-align: middle;
	background: @darkGrey;
	border-radius: 5px;
}

.roundtangle i {
	width: 24px;
	font-size: 24px;
}

.lane {
	padding: 10px;
	margin-bottom: 10px;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-color: #cccccc;
	border-radius: 7px;
}

.card {
	padding: 10px;
	margin-bottom: 10px;
	background-color: #FFFFFF;

}
.accordion {
	margin-bottom: 10px;
}
.panel-default > .panel-heading {
	background-color: #FFFFFF;
	-webkit-transition: background-color 500ms linear;
	-moz-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	-o-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.new .panel-default > .panel-heading {
	background-color: #FEC0DB;
}
.imp-priority {
	color: black;

}
.high-priority {
	color: red;
}

.med-priority {
	color: orange;
}

.low-priority {
	color: green;
}

.pre {
	// white-space: pre;
	word-wrap: break-word;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
}


.panel-title {
	line-height: 1.5em;
}
