<div class="card" data-ng-class="Issue.classes">
	<span data-ng-bind="issue.subject"></span>
	<a data-ng-href="http://redmine.carnyx.com/issues/{{issue.id}}" target="_blank">
		<i class="fa fa-arrow-circle-right pull-right"></i>
	</a>
</div>
<!--
// [Log] [ (app.js, line 26)
// Object
// $$hashKey: "object:4"
// assigned_to: Object
// author: Object
// created_on: "2015-04-28T09:47:23Z"
// custom_fields: Array[1]
// description: "Can't see a basket. Entrants don't pay to enter so no payment needed.
// ↵
// ↵Contact us page does work should just say
// ↵
// ↵Claire Shades
// ↵Event Manager
// ↵0141 559 6061
// ↵claire.shades@thedrum.com "
// done_ratio: 0
// id: 16145
// priority: Object
// project: Object
// status: Object
// subject: "The Law awards"
// tracker: Object
// updated_on: "2015-04-28T10:47:43Z"
// __proto__: Object
-->
