<div class="accordion issue-card" data-ng-class="{new: Issue.isNew}" data-ng-click="Issue.openIssue()">
    <accordion-group>
        <accordion-heading>
				<div class="row">
					<div class="col-sm-7">
						<i class="fa fa-circle" data-ng-class="Issue.classes"></i>

						<span data-ng-bind="Issue.id"></span>
						-
						<span data-ng-bind="Issue.subject"></span>
					</div>

					<div class="col-sm-5">
						<span data-ng-bind="Issue.project.name"></span>
					</div>
				</div>
		</accordion-heading>

		<div class="description">
			<div class="section">
				<span class="pre" data-ng-bind="Issue.description"></span>
			</div>
		</div>
		<hr>

		<div class="section">
			Added by: <span data-ng-bind="Issue.author.name"></span>

			<a class="pull-right" data-ng-href="http://redmine.carnyx.com/issues/{{Issue.id}}" target="_blank">
				Open in Redmine <i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>
    </accordion-group>
</div>
